@import "./src/common/styles/variables";

.worksBlock {
  min-height: 50vh;
  height: auto;
  min-width: 360px;
  border: 1px solid black;
  background-color: $bgFirstColor;

  .worksConteiner {
    height: 80%;
    width: 80%;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .works {
      margin-top: 30px;
      margin-left: -15px;
      margin-right: -15px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-start;
    }
  }
}


/*
@media screen and (max-width: 1150px){
    .worksBlock {
        height: auto;
    }
    .worksConteiner {
        width: 80%;
        font-size: 150%;
        min-width: 400px;
    }
    .works {
        justify-content: space-evenly;
    }

}
*/

