$textColor: #fff;
$primaryColor: #557A95;
$primaryColor2: #80B8E0;

$bgFirstColor: #2F2F2F; /*#5d5c61;*/
$bgSecondColor: #373737;
$bgDiscriptionColor: #79787e;
$fontFamily: 'Syne', sans-serif;

$formTextColor: #80b8e0;
$formBgColor: rgba(128, 184, 224, 0.09)

