@import "../../../src/common/styles/variables.scss";

.skill {
  min-width: 250px;
  max-width: 350px;
  //border: 1px solid black;
  //background-color: $bgFirstColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 15px 0 0 0;

  .description {
    //border: 1px solid black;
    margin: 0 0 10px 0;
  }
.iconContainer {

  margin: 25px auto;
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bgFirstColor;
  .icon {


    width: 64px;
    height: 64px;
    transform: rotate(-45deg)
    //background-color: gray;
  }}
}
