@import "../../../src/common/styles/variables.scss";

.skill {

    min-width: 250px;
    max-width: 350px;
    //border: 1px solid black;
    background-color: $bgFirstColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 15px 0 0 0;
    .description {
        //border: 1px solid black;

    }
    .icon {
        width: 60px;
        height: 60px;
        //background-color: gray;
    }
}
