@import "../../src/common/styles/variables.scss";

.skillsBlock {
  min-height: 50vh;
  height: auto;
  min-width: 360px;

  .skillsConteiner {
    min-height: 50vh;
    width: 80%;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color:inherit;

    .skills {
      margin-top: 30px;
      //border: 1px solid;
      background-color:inherit; // $bgSecondColor;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
    }
  }

}
