.title {
    /*background-color: orange;*/
    margin: 0 0 30px;
    font-family: 'Syne', sans-serif;
    font-size: 36px;
    position: relative;
    line-height: 1.2;
    letter-spacing: 5px;
}
.title h2 {
    margin: 0;
    font-size: 36px;
    font-weight: 500;
    text-transform: capitalize;
}

.title::before {
    content: "";
    position: absolute;
    background: #557A95;
    width: 55px;
    height: 2px;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%);
}
