@import  "./src/common/styles/variables";
*, body {
  margin: 0;
  font-family: 'Syne', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  color: $textColor;

  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
h1, h2, h3, h4 {
  font-weight: 500;
}

h3 {
  letter-spacing: 1px;
  margin: 0 0 5px;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
